.info = t :messenger_settings_intro
br

fieldset#messenger_settings.box.tabular
  legend = l :label_messenger_outgoing_webhook
  p
    label = l :label_settings_messenger_url
    = text_field_tag 'settings[messenger_url]', @settings[:messenger_url], size: 60, placeholder: 'https://webhook.url'
    em.info = t :messenger_url_info_html
  p
    label = l :label_settings_messenger_icon
    = text_field_tag 'settings[messenger_icon]', @settings[:messenger_icon], size: 60
  p
    label = l :label_settings_messenger_channel
    = text_field_tag 'settings[messenger_channel]', @settings[:messenger_channel], size: 30, placeholder: 'redmine'
    em.info = t :messenger_channel_info_html
  p
    label = l :label_settings_messenger_username
    = text_field_tag 'settings[messenger_username]', @settings[:messenger_username], size: 30
  = render 'messenger_settings/messenger_checkbox', mf: 'messenger_verify_ssl', settings: @settings, info: t(:messenger_verify_ssl_info_html)

fieldset#messenger_settings.box.tabular
  legend = l :label_issue_plural
  .info = t :messenger_issue_intro
  br
  = render 'messenger_settings/messenger_checkbox', mf: 'auto_mentions', settings: @settings
  p
    label = l :label_settings_default_mentions
    = text_field_tag 'settings[default_mentions]', @settings[:default_mentions], size: 30
    em.info = t :default_mentionsl_info
  p
    label = l :label_settings_display_watchers
    = check_box_tag 'settings[display_watchers]', 1, @settings[:display_watchers].to_i == 1
  p
    label = l :label_settings_post_updates
    = check_box_tag 'settings[post_updates]', 1, @settings[:post_updates].to_i == 1
  p
    label = l :label_settings_new_include_description
    = check_box_tag 'settings[new_include_description]', 1, @settings[:new_include_description].to_i == 1
  p
    label = l :label_settings_updated_include_description
    = check_box_tag 'settings[updated_include_description]', 1, @settings[:updated_include_description].to_i == 1
  p
    label = l :label_settings_post_private_issues
    = check_box_tag 'settings[post_private_issues]', 1, @settings[:post_private_issues].to_i == 1
  p
    label = l :label_settings_post_private_notes
    = check_box_tag 'settings[post_private_notes]', 1, @settings[:post_private_notes].to_i == 1

  p
    label = l :label_settings_messenger_direct_users_messages
    = check_box_tag 'settings[messenger_direct_users_messages]', 1, @settings[:messenger_direct_users_messages].to_i == 1
    em.info = t :messenger_direct_users_messages_info_html

fieldset#messenger_settings.box.tabular
  legend = l :label_wiki
  .info = t :messenger_wiki_intro
  br
  = render 'messenger_settings/messenger_checkbox', mf: 'post_wiki', settings: @settings
  = render 'messenger_settings/messenger_checkbox', mf: 'post_wiki_updates', settings: @settings