p
  = label_tag nil, l("label_settings_#{mf}")
  = hidden_field_tag "settings[#{mf}]", 0
  = check_box_tag "settings[#{mf}]", 1, settings[mf].to_i == 1
  - if defined?(info) && info.present?
    em.info= info